//Addditonal plugins
@import '../plugins/sanitize.scss';
@import '../plugins/unsemantic-grid-responsive-tablet-no-ie7.scss';



//Main css

$globalFontFamily: Raleway, sans-serif;

$generalFontSize: 0.81em;
$generalTextColor: #8d8d8d;
$headerLinkColor: white;
$h1Color: #393939;
$h2Color: #393939;
$h3Color: #393939;
$h4Color: #8b8b8b;
$logoOrange: rgb(244,126,42);

$sectionBgColor: #f5f5f5;
$sectionBgDark : #393939;
$sectionPadding: 10em 0;
$sectionMargin: 0 5%;


//Global styling

* {
    font-family: $globalFontFamily;
}

body {
    font-size: 16px;
    color: $generalTextColor;
}

p {
    font-size: $generalFontSize;
}

h1 {}

h2 {
    font-size: 2.5em;
    line-height: 1.2em;
    letter-spacing: 2px;
    font-weight: 800;
    text-transform: uppercase;
    color: $h2Color;
    margin: 0.5em 0 1em;
}

h3 {
    font-size: 1.125em;
    line-height: 1.44em;
    letter-spacing: 1px;
    font-weight: 700;
    text-transform: uppercase;
    color: $h3Color;
}

h4 {
    font-size: 0.81em;
    line-height: 1.53em;
    letter-spacing: 1px;
    font-weight: 700;
    text-transform: uppercase;
    color: $h4Color;
}

h6 {
    font-size: 0.81em;
    line-height: 1.53em;
    letter-spacing: 1px;
    font-weight: 700;
    text-transform: uppercase;
    color: $h4Color;
    display: inline;
}

.slide_overlays {
    h2 {
        color: $headerLinkColor;
        font-size: 3.75em;
        letter-spacing: 5px;
        line-height: 1em;
        font-weight: 700;
    }

    h3 {
        color: $headerLinkColor;
    }
}

.facebook_button {
  background-color: #3B5998;
  color: white;
  padding: 0.5em 1em;
  border-radius: 5px;
  display: inline-block;
  margin: 1em 0;

  i {
    padding-right: 0.8em;
    margin-right: 0.8em;
    border-right: 1px solid #344D82;
  }

  &:hover {
    background-color: #1e3a74;
  }
}

//Header

.header_wrapper {
    position: absolute;
    z-index: 5;
    width: 100%;
}

.header {
    text-align: center;

    li {
        display: inline-block;

        &:not(.header_logo) {
            position: relative;
            top: -3.5em;
        }
    }

    a {
        font-weight: 700;
        font-size: $generalFontSize;
        letter-spacing: 2px;
        text-transform: uppercase;
        padding: 0 1.5em;
        color: $headerLinkColor;
        transition: color 0.3s;

        &:hover {
            color: $logoOrange;
        }
    }
}

.header_logo {
    line-height: 1em;

    .logo_wrapper {
        max-width: 60px;
        margin: 0 auto;

        img {
            width: 100%;
        }
    }

    span {

    }
}

//Headline

.headliner_wrapper {
    // padding: $sectionPadding;
}

.headliner {
    height: 400px;

    .owl-carousel {
        height: 100%;
    }

    .owl-wrapper-outer {
        height: 100%;
    }

    .owl-wrapper {
        height: 100%;
    }

    .owl-item {
        height: 100%;
    }

    .carousel_image {
        height: 100%;
        width: 100%;
        background-color: gray;
        background-size: cover;
        background-position: center center;

        &-1 {
            background-image: url(../../images/carousel_images/bathroom.jpg)
        }

        &-2 {
            background-image: url(../../images/carousel_images/exterior_feature_wall.jpg)
        }

        &-3 {
            background-image: url(../../images/carousel_images/front_entrance.jpg)
        }
    }
}

.slide_overlays {
    position: absolute;
    top: 49%;
    width: 100%;
    text-align: center;
}

.overlay {
    max-width: 1100px;
    margin: 0 auto;

    * {
        display: none;
        opacity: 0;
        position: relative;
    }
}

//Blerb

.blerb_wrapper {
    padding: $sectionPadding;
}

.blerb {
    margin: $sectionMargin;
}

//Service

.services_wrapper {
    overflow: auto;
    background-color: $sectionBgColor;
    padding: $sectionPadding;
}

.services {
    margin: $sectionMargin;
}

.service_items {
    text-align: center;

    .service {
        margin-bottom: 4em;
    }

    i {
        color: $logoOrange;
        font-size: 3em;
    }

    h3 {
        margin: 2em 0 1em;
    }
}

//Showcase

.showcase_wrapper {
    overflow: auto;
    padding: $sectionPadding;

    .showcase_text {
        margin: $sectionMargin;
    }
}

.showcase {
    &-item {
        height: 430px;
        position: relative;
        overflow: hidden;
    }

    &-item-1 {
        background-image: url(../../images/carousel_images/bathroom.jpg)
    }

    &-item-2 {
        background-image: url(../../images/carousel_images/exterior_feature_wall.jpg)
    }

    &-item-3 {
        background-image: url(../../images/carousel_images/front_entrance.jpg)
    }

    &-item-4 {
        background-image: url(../../images/carousel_images/home_exterior_full.jpg)
    }

    &-item-5 {
        background-image: url(../../images/carousel_images/pool.jpg)
    }

    &-item-6 {
        background-image: url(../../images/carousel_images/water_feature.jpg)
    }

    &-item-7 {
        background-image: url(../../images/carousel_images/home_exterior_left.jpg)
    }

    &-item-8 {
        background-image: url(../../images/carousel_images/water_feature_wall.jpg)
    }

    &-image {
        width: 100%;
        height: 100%;
        display: block;
        background-position: center center;
        background-size: cover;
    }

    &-popup {
        background-color: $logoOrange;
        background-color: rgba(244,126,42,0.9);
        color: white;
        position: absolute;
        top: 0;
        width: 101%;
        height: 100%;
        display: table;
    }

    &-popup-centering {
        display: table-cell;
        vertical-align: middle;
        text-align: center;
    }

    a:focus {
        outline: none;
        border: none;
    }
}

//Social

.social_wrapper {
    padding: $sectionPadding;
    overflow: auto;
    background-color: $sectionBgColor;
}

.social {
    margin: $sectionMargin;

    .post_wrapper {
        background-color: white;
    }

    .post_message {
        padding: 1em;

        p {
            color: $h1Color;
        }

        .post_date {
            display: block;
            margin: 1em 0;
            font-size: $generalFontSize;
        }
    }

    .post_image {
        img {
            width: 100%;
        }
    }

    .post_footer {
        padding: 1em;
    }

    .post_count {
        margin-right: 1em;

        i {
            margin-right: 0.3em;
        }
    }

    .post_link {
        font-size: $generalFontSize;
        float: right;
        line-height: 2em;
        color: $generalTextColor;

            &:hover {
                color: $logoOrange;
                text-decoration: underline;
            }
    }
}

.grid-sizer,
.grid-item {
    width: 23%;
    margin-bottom: 2%;
}

.gutter-sizer {
    width: 2%;
}

//Contact

.contact_wrapper {
    padding: $sectionPadding;
}

.contact {
    margin: $sectionMargin;
}

.content_info_wrapper {
    overflow: auto;
}

.contact_box {
    .icon_circle {
        background-color: #F47E2A;
        font-size: 1.5em;
        color: white;
        text-align: center;
        border-radius: 100%;
        width: 2.5em;
        height: 2.5em;
        line-height: 2.5em;
    }

    .contact_info {
        padding-left: 1.3em;
    }

    h3 {
        margin: 0 0 0.7em 0;
    }
}

.form {
    margin-top: 4em;

    .input_wrapper {
        margin-bottom: 1em;

        input:not(.submit), textarea {
            border: 1px solid #a7a6a6;
            width: 100%;
            padding: 0.6em 1em;
            font-size: $generalFontSize;

            &:focus {
                outline: 0;
                border-color: $logoOrange;
            }
        }

        textarea {
            min-height: 12em;
        }
    }

    .submit {
        padding: 1em 1.5em;
        border: 2px solid $logoOrange;
        font-size: $generalFontSize;
        font-weight: 800;
        color: white;
        background-color: $logoOrange;
        cursor: pointer;
        text-transform: uppercase;
        letter-spacing: 2px;
        white-space: nowrap;
        transition: all 0.3s;

        &:hover {
            color: $logoOrange;
            background-color: transparent;
        }
    }
}

//Footer Map

// Footer Info

.footer_info {
    overflow: auto;
    background-color: $sectionBgDark;
    padding: $sectionPadding;
    font-size: $generalFontSize;

    h4 {
        color: white;
        font-size: 1em;
        margin-bottom: 1em;
    }

    > div {
        margin-bottom: 4em;
    }
}

.footer_logo {
    text-align: center;

    .logo_wrapper {
        max-width: 80px;
        margin: 0 auto 1em auto;

        img {
            width: 100%;
        }
    }
}

.footer_contact {
    > div {
        margin-bottom: 1em;
    }

    .icon_circle {
        background-color: #F47E2A;
        font-size: 1em;
        color: white;
        text-align: center;
        border-radius: 100%;
        width: 2em;
        height: 2em;
        line-height: 2em;
        display: inline-block;
        margin-right: 1em;
    }
}

.footer_links {
    ul {
        list-style: none;
    }

    li {
        margin-bottom: 1em;
    }

    a {
        color: $generalTextColor;
        transition: color 0.3s;

        &:hover {
            color: white;
        }
    }
}



// Media Query Overrides

@media (max-width: 1024px) {
    .grid-sizer,
    .grid-item {
        width: 32%;
    }
}

@media (max-width: 767px) {
    .grid-sizer,
    .grid-item {
        width: 49%;
    }

    .hideOnSmallScreen {
        display: none;
    }

    .contact_box {
        .icon_circle {
            margin: 0 auto 0.5em auto;
        }

        .contact_info {
            margin-bottom: 2em;
            text-align: center;
        }
    }

    .submit {
        width: 100%;
    }

    .footer_info {
        text-align: center;

        .icon_circle {
            background-color: transparent;
            width: auto;
            height: auto;
            line-height: auto;
        }
    }
}

@media (max-width: 480px) {
    .grid-sizer,
    .grid-item {
        width: 99%;
    }
}
